.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(124, 166, 65);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


body{
 background: radial-gradient(circle, green 30%, white 100%);
}

h1 {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: #222;
    font-size: 2.7em; /* Larger heading */
    font-weight: 600; /* Moderate bold */
}

h2 {
    margin-bottom: 10px;
    color: #444; /* Darker for contrast */
    font-size: 1.9em; /* Larger subheading */
    font-weight: 600; /* Moderate bold */
}

.section {
    font-size: 1.5em; /* Slightly larger body text */
    font-weight: 500; /* Light bold */
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    
}

/* Contact-specific styling */
.contact-info {
    display: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #28a745;
}

.contact-info p {
    color: #555;
}