.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
     background-color: rgb(124, 166, 65);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #222; /* Darker text for better contrast */
}

body{
 background: radial-gradient(circle, green 30%, white 100%);
}

h1 {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: #222;
    font-size: 3em; /* Larger heading */
    font-weight: 600; /* Moderate bold */
}

h2 {
    margin-bottom: 10px;
    color: #444; /* Darker for contrast */
    font-size: 2.5em; /* Larger subheading */
    font-weight: 600; /* Moderate bold */
}

.section {
    font-size: 1.5em; /* Slightly larger body text */
    font-weight: 500; /* Light bold for body text */
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.service-item {
    margin-bottom: 15px;
    padding: 10px;
    border-left: 4px solid #28a745;
    background-color: #f9f9f9;
    font-weight: 500; /* Light bold for service items */
}